html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: scroll;
}

#layout {
    display: flex;
    height: 100%;
}

header.websitename{
    font-size: 1.5em; 
}

#content {
    /* push everything else to the right */
    margin-left: 10%;
    width: 100%; 
}

.container {
    height: auto;
    width: 90%;
    /* center horizontal */
    margin: auto auto;
}


#searchboxcontainer {
    border-style: solid;
    text-align: center;
    margin: auto auto;
    justify-content: center; 
    align-items: center; 
    padding-bottom: 1%;
    padding-top: 1%;
    /* original background */
    /* background-color: #EEEEEE; */
    /* blue background */
    background-color: #003865;
    color: white; 
    font-size: 1em;
    width: 80%;
}

#searchbox {
    width: 80%;
}

#advancedsearch{
    display: none;
    background-color: #B3B3B3; 
    width: 85%; 
    align-items: center; 
    margin-left: 7.5%; 
    color: black; 
    font-size: 0.8em; 
}

#prerequisites{
   font-size: 0.5em; 
   width: 100%;
}

#advancedsearchtable {
    /* make all the cells the same width */
    table-layout: fixed;
    width: 100%;
    font-size: 0.8em; 
}


#homepagetext{
    text-align: center; 
    margin: auto auto; 
}

#entersearchquery {
    color: #757575;
}

#leaveareview{
    color: #757171;
}

#reviewbutton{
    background-color: #B3B3B3;
    color: white; 
    padding: 1%; 
    border-style: none; 
    border-radius: 25px; 
}

#reviewbutton:hover {
    color: white; 
    background-color: #757171;
}

/* SIDEBAR CSS */
 /* https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */

 #coursesandprofessorssidebar {
    /* https://www.w3schools.com/css/css_positioning.asp */
    position: fixed;
    border-style: solid;
    width: 12%;
    /* original background */
    /* background-color: #EEEEEE; */
    /* blue background */
    background-color: #003865; 
    color: white;
    border-color: black; 
    margin: 0;
    padding: 0;
    height: 100%; 
}

#courseandprof {
    border-style: solid; 
    height: 7%; 
    border-color: black; 
    padding: 5%; 
}

.collapsibletextsize{ 
    font-size: 1em; 
}

#coursesandprofessorssidebar a {
    display: block;
    padding: 8%;
    text-decoration: none;
    /* original background */
    /* color: black; */
    /* blue background */
    border-color: black; 
    color: white; 
    border-style: solid;
    font-size: 0.8em; 
}

.hidden {
    display: none;
}

.coursesandprofessorscollapsible{
    border-style: solid; 
    padding: 5%; 
    border-color: black;
    background-color: hsl(204, 50%, 62%);
}

.missing{
    color: red; 
    border-style: solid; 
    border-color: black; 
    font-size: 0.8em; 
    padding: 10%;
    font-weight: bold; 
}

.collapsiblebutton{
    border-width: 0;
    background-color: hsl(204, 50%, 62%);
    color: white; 
}

#coursesandprofessorssidebar a.missinglink{
    border-style: none; 
    color: red; 
    font-size: 0.8em; 
    padding: 0; 
    font-weight: bold; 
}
#result-box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: navy;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-decoration: none; 
    width: auto;
    max-width: 50%; 
    margin: 20px auto;
    position: relative; 
    height: 40px; 
    cursor: pointer; 
}

#result-box:hover {
    color: white;
    background-color: blue;
    text-decoration:underline;
}